* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain";
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
/* #0B0B0B */
/* #151515 */
#loder {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #0b0b0b;
  padding: 20vh 4vw;
  cursor: none;
  display: none;
}
#loder .line {
  overflow: hidden;
}
#loder .line h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 8vw;
}
#loder .line #line_part_1 {
  display: flex;
  align-items: top;
  justify-content: start;
  gap: 1vw;
}
#loder .line #line_part_1 h2 {
  font-family: "Silk Serif";
  font-size: 3vw;
  font-weight: 400;
}
#loder .line #line_part_1 h2:nth-child(1) {
  width: 5vw;
  height: fit-content;
  margin-left: 10vw;
}
#loder .line #line_part_1 h1:nth-last-child(1) {
  margin-left: 5vw;
}
#loder .line:nth-last-child(1) {
  margin-top: 4vw;
  margin-left: 26vw;
  font-weight: 500;
}
#loder .line:nth-last-child(2) {
  display: flex;
  align-items: center;
  gap: 2vw;
}
#loder .line:nth-last-child(2) h3 {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Plain Light";
  opacity: 0;
  animation-name: textBlink;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes textBlink {
  0% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  45% {
    font-family: "Plain Light";
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  100% {
    font-family: "Plain Light";
  }
}
#cursor {
  width: 2vw;
  height: 2vw;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1.5px solid #fff;
  mix-blend-mode: difference;
  transform: translate(-50%, -50%);
  z-index: 999;
}
main {
  position: relative;
  background-color: #151515;
}
/* ----------------------------------------------------------------------- */
#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
  padding: 2.5vw 3.99vw;
  position: relative;
}
#page1 nav {
  display: flex;
  justify-content: space-between;
  align-items: top;
  position: relative;
}
.nav_part1 {
  display: flex;
  gap: 1.8vw;
}
.nav_part1 .item:nth-child(1) {
  width: 1vw;
  height: fit-content;
  margin-top: 0.5vh;
}
.nav_part1 .item:nth-child(2) {
  width: 4vw;
  height: fit-content;
  position: sticky;
}
.nav_part1 .item:nth-child(3) {
  font-family: "Plain";
  font-size: 0.88vw;
  font-weight: 200;
  margin-left: 15.4vw;
  width: 3.9vw;
  height: fit-content;
  line-height: 0.888vw;
}
.nav_part2 ul {
  display: flex;
  align-items: top;
  justify-content: center;
  gap: 1.9vw;
}
.nav_part2 ul li {
  list-style: none;
  font-size: 0.9vw;
  font-family: "Plain";
  font-weight: 500;
}

#page1_part2 {
  width: fit-content;
  position: absolute;
  left: 27%;
  bottom: 14%;
}
#page1_part2 .hero {
  position: relative;
  overflow-y: hidden;
}
#page1_part2 .hero h1 {
  font-size: 7.2vw;
  font-family: "Plain";
  font-weight: 500;
  line-height: 7.2vw;
}
#page1_part2 #hero4 h1 {
  line-height: 6.5vw;
}
#page1_part2 .hero3_inner {
  display: flex;
  position: relative;
}
.hero3_inner h2,
.hero3_inner h3 {
  font-size: 7vw;
  font-weight: 500;
  line-height: 7.5vw;
}
.hero3_inner h3 {
  margin-left: 0.5vw;
  margin-right: -0.5vw;
}
.hero3_inner h2 {
  border-bottom: 0.7vw solid #fff;
}
#page1_part2::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: -15%;
}
#page1_part2::after {
  content: "Scroll";
  position: absolute;
  font-size: 0.9vw;
  font-family: "Plain";
  font-weight: 600;
  left: -46%;
  bottom: -9%;
  color: #413e3e;
}
/* ------------------------------------------------------------------------ */
#page2 {
  width: 100%;
  height: 100vh;
  padding-top: 17vh;
  position: relative;
}

#page2 .video_container {
  width: 72.5%;
  height: 66vh;
  position: absolute;
  right: 0;
  top: 15vh;
  background-size: cover;
  background-position: center;
  background-image: url("./assets/Showreel-2022-preview-1.jpg");
}
#page2 .video_container .video_cursor {
  width: 8vw;
  height: 8vw;
  background-color: #ffa63d;
  border-radius: 50%;
  position: absolute;
  right: 16%;
  top: -13%;
  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 .video_container .video_cursor #i1 {
  font-size: 2vw;
  opacity: 1;
}
#page2 .video_container .video_cursor #i2 {
  font-size: 2vw;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#page2 .video_container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}
/* ---------------------------------- */
#page3 {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
  position: relative;
  padding: 7vh 4vw;
}
#page3 h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 23vw;
  font-weight: 500;
}
#page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: -12%;
  top: 15%;
}
#page3 .under_line {
  height: 1px;
  width: 74.5%;
  background-color: #fff;
  margin: 5vw 0;
  margin-left: 23vw;
}
/* --------- */
/* #page3 .imges_div_container {
  padding: 1vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.imge_div {
  height: 38vw;
  width: 27vw;
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  margin: 1vw;
  padding: 1vw;
}
.imge_div:nth-child(1) {
  height: 29vw;
  width: 23vw;
}
.imges_div_container .imge_div:nth-child(2){
  height: 41.5vw;
  width: 33vw;
  padding: 5vw;
}
.imges_div_container .imge_div:nth-child(5){
  height: 40vw;
  width: 30vw;
}
.imges_div_container .imge_div:nth-child(6){
  height: 45vw;
  width: 36vw;
}
.imge_div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page3_circle1 {
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44vh;
  margin-left: 10vw;
  position: relative;
}
.page3_circle1 img {
  height: 30%;
  rotate: 90deg;
}
.page3_circle2 {
  height: 23vw;
  width: 23vw;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page3_circle2 img {
  height: 30%;
  rotate: 45deg;
}
.circle_in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.circle_in p {
  width: 60%;
  font-size: 0.95vw;
  font-weight: 500;
  color: black;
  scale: 0;
  transition: all ease 0.5s;
  transition-delay: 0.4s;
  opacity: 0;
}
.page3_circle1:hover .circle_in {
  scale: 1;
}
.page3_circle1:hover .circle_in p {
  scale: 1;
  opacity: 1;
}
.page3_circle2:hover .circle_in {
  scale: 1;
}
.page3_circle2:hover .circle_in p {
  scale: 1;
  opacity: 1;
} */
/* ----------------------- */
#page3_part1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: top;
  justify-content: space-between;
}
.page3_part1_inner1 {
  height: 100%;
  width: 23vw;
}
.page3_part1_inner1_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part1_inner1_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}
.page3_part1_inner_img {
  height: 60vh;
  width: 23.5vw;
}
.page3_part1_inner1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page3_part1_inner1_bottom_text {
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page3_part1_inner1_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
  width: 15vw;
}
.page3_part1_inner1_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}
.page3_part1_under_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-top: 2vw;
}

/* ----------------------- */
.page3_part1_inner2 {
  height: 100%;
  width: 35vw;
}
.page3_part1_inner2_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part1_inner2_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}
.page3_part1_inner2 img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  object-position: center;
}
.page3_part1_inner2_bottom_text {
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page3_part1_inner2_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
}
.page3_part1_inner2_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}
.page3_part2_under_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-top: 2vw;
}
/* ----------------------- */
.page3_part1_inner3 {
  min-height: 100vh;
  width: 29vw;
  position: relative;
}
.page3_part1_inner3_circle {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 68vh;
  margin-left: 8.8vw;
  padding: 7vw;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page3_part1_inner3_circle img {
  rotate: 90deg;
  position: relative;
}
.page3_part1_inner3_circle_in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.page3_part1_inner3_circle_in p {
  width: 60%;
  font-size: 0.95vw;
  font-weight: 500;
  color: black;
  scale: 0;
  transition: all ease 0.5s;
  transition-delay: 0.4s;
  opacity: 0;
}
.page3_part1_inner3_circle:hover .page3_part1_inner3_circle_in {
  scale: 1;
}
.page3_part1_inner3_circle:hover .page3_part1_inner3_circle_in p {
  scale: 1;
  opacity: 1;
}

/* ---------------------------- */
#page3_part2 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: top; 
  justify-content: space-between;
  position: relative;
  /* background-color: green; */
}
/* ------ */
.page3_part2_inner1 {
  height: 100vh;
  width: 23.4vw;
  position: relative;
  background-color: red;
}
.page3_part2_inner1_circle {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: 3.4vw;
  padding: 7vw;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page3_part2_inner1_circle img {
  rotate: 45deg;
  position: relative;
}
.page3_part2_inner1_circle_in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.5s;
}
.page3_part2_inner1_circle_in p {
  width: 60%;
  font-size: 0.95vw;
  font-weight: 500;
  color: black;
  scale: 0;
  transition: all ease 0.5s;
  transition-delay: 0.4s;
  opacity: 0;
}
.page3_part2_inner1_circle:hover .page3_part2_inner1_circle_in {
  scale: 1;
}
.page3_part2_inner1_circle:hover .page3_part2_inner1_circle_in p {
  scale: 1;
  opacity: 1;
}
/* --------------------------- */
.page3_part2_inner2{
  min-height: 100vh;
  width: 30vw;
  margin-top: 5vw;
  position: relative;
  background-color: rgb(10, 38, 196);
}
.page3_part2_inner2_text{
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part2_inner2_text h3{
  height: 2.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}
.page3_part2_inner_img{
  height: 100vh;
  width: 35vw;
}
.page3_part2_inner_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.page3_part2_inner2_bottom_text{
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page3_part2_inner2_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
}
.page3_part2_inner2_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}

/* --------------------------- */
.page3_part2_inner3{
  min-height: 100vh;
  width: 35vw;
  /* background-color: #c40fac; */
  margin-top: -2vh;
  position: relative;
}
.page3_part2_inner2_text{
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part2_inner2_text h3{
  height: 2.5vw;
  font-size: 2vw;
  text-transform: capitalize;
}
.page3_part3_inner_img{
  width: 35vw;
  height: 100vh;
  background-color: rgb(11, 65, 146);
}
.page3_part3_inner_img img{
 width: 100%;
 height: 100%;
 object-fit: cover;
 object-position: center;
}
/* --------------------------- */
#page4 {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
  position: relative;
  padding: 7vh 0;
}
#page4_content h1::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: 20%;
  top: 4%;
}
#page4_content {
  width: 72vw;
  margin-left: 28%;
}
#page4_content h1 {
  font-size: 7vw;
  text-transform: uppercase;
}
#page4_content .under_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4_content > p {
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}
#page4_content #page4_flex {
  display: flex;
}
#page4_content #page4_flex img {
  width: 48%;
  object-fit: cover;
}
#page4_content #page4_flex p {
  font-size: 0.9vw;
  width: 19%;
  margin-left: 1vw;
}
#page4_blue_div {
  background-color: #3f7df4;
  width: 33vw;
  padding: 4vw 3vw;
  position: relative;
  margin-top: -37vh;
  margin-left: 24vw;
}
#page4_blue_div .blue_div_elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5vw 0;
  border-bottom: 2px solid #ffffff94;
}
#page4_blue_div .blue_div_elem h4 {
  font-size: 1.4vw;
  font-weight: 500;
}
#page4_blue_div .blue_div_elem p {
  width: 40%;
  font-size: 0.7vw;
}
#page5 {
  width: 100%;
  min-height: 80vh;
  background-color: #151515;
  position: relative;
}
#page5 .elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -3vw;
}
#page5 .elem h1 {
  font-size: 7vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: textScroll;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#page5 .elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -3vw;
}
#page5 .elem2 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: textScroll;
  transform: translateX(calc(-100% - 20px));
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
#page5 .elem span {
  font-style: italic;
  font-family: "Silk Serif";
  color: transparent;
}
#page5 .elem2 span {
  font-style: italic;
  font-family: "Silk Serif";
  color: transparent;
}
@keyframes textScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
footer {
  width: 100%;
  height: 80vh;
  background-color: #151515;
  position: relative;
  padding-left: 30vw;
}
footer h1::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: 20%;
  top: 3%;
}
footer h1 {
  font-size: 8vw;
}
footer .under_line {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 2vw 0;
}
.footer_div {
  display: flex;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 4vw;
  margin-bottom: 3vw;
}
.box {
  width: 20%;
}
.footer_div h6 {
  font-size: 0.9vw;
  margin-bottom: 1.5vw;
}
.footer_div h5 {
  font-size: 1.3vw;
  margin: 0.2vh 0;
}
footer > h5 {
  font-weight: 500;
  font-size: 1vw;
}
._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}
