@font-face {
  font-family: "Plain Light";
  src: url("./fonts/plain-light-webfont.ttf");
}
@font-face {
  font-family: "Plain Light";
  src: url("./fonts/plain-regular-webfont.ttf");
}
@font-face {
  font-family: "Silk Serif";
  src: url("./fonts/silkserif-lightitalic-webfont.ttf");
}
@font-face {
  font-family: "Silk Serif";
  src: url("./fonts/silkserif-regularitalic-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "plain";
  color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
/* #0B0B0B */
/* #151515 */
#loder {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #0b0b0b;
  padding: 20vh 4.5vw;
}
#loder .line {
  overflow: hidden;
}
#loder .line h1 {
  font-size: 7.3vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 7vw;
}
#loder .line #line_part_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 1vw;
}
.line_part_1_inner1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#loder .line #line_part_1 h2 {
  font-family: "Silk Serif";
  font-size: 3vw;
  font-weight: 400;
}
.line_part_1_inner1 h2:nth-child(1) {
  width: 5vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 7vw;
}
#loder .line_part_1_inner2 {
  margin-left: 5vw;
}

#loder #line-3 {
  height: 7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2vw;
}
#loder #line-3 h3 {
  font-size: 7.3vw;
  text-transform: uppercase;
  font-weight: 100;
  font-family: "Plain Light";
  opacity: 0;
  -webkit-animation-name: textBlink;
  animation-name: textBlink;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#loder #line-4 {
  margin-top: 4vw;
  margin-left: 26vw;
  font-weight: 500;
}

@-webkit-keyframes textBlink {
  0% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  40% {
    font-family: "Plain Light";
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  100% {
    font-family: "Plain Light";
  }
}

@keyframes textBlink {
  0% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  45% {
    font-family: "Plain Light";
  }
  50% {
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  100% {
    font-family: "Plain Light";
  }
}
#cursor {
  width: 2vw;
  height: 2vw;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 1.5px solid #ffffff;
  /* mix-blend-mode: difference; */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}
main {
  position: relative;
  background-color: #151515;
}
/* ----------------------------------------------------------------------- */
#page1 {
  width: 100%;
  height: 100vh;
  background-color: #151515;
  padding: 2.5vw 3.99vw;
  position: relative;
}
#page1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  position: relative;
  padding: 0.2vw;
}
.nav_part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 26.3vw;
  padding-top: 0.1vw;
}

.nav_part1 .item2 {
  margin-left: -15.1vw;
  margin-top: -0.2vw;
}
.nav_part1 .item3 {
  width: 3vw;
  line-height: 0.88vw;
  font-size: 0.88vw;
  font-weight: 100;
  letter-spacing: -0.03vw;
}
/* ========== */
.nav_part2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.96vw;
}
.nav_part2 ul li {
  list-style: none;
  font-size: 0.85vw;
  font-family: "Plain";
  font-weight: 300;
  letter-spacing: -0.02vw;
}
#page1_part2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 27%;
  bottom: 14%;
}
#page1_part2 .hero {
  position: relative;
  overflow-y: hidden;
}
#page1_part2 .hero h1 {
  font-size: 7.2vw;
  font-family: "Plain";
  font-weight: 500;
  line-height: 7.2vw;
}
#page1_part2 #hero4 h1 {
  line-height: 6.5vw;
}
#page1_part2 .hero3_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.hero3_inner .a {
  position: absolute;
  background-color: rgba(255, 0, 0, 0);
  height: 100%;
  width: 35%;
  z-index: 99999999;
}
.hero3_inner h2,
.hero3_inner h3 {
  font-size: 7vw;
  font-weight: 500;
  line-height: 7.5vw;
  -webkit-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  z-index: 99;
}
.hero3_inner h3 {
  margin-left: 0.5vw;
  margin-right: -0.5vw;
}
.hero3_inner h2 {
  border-bottom: 0.7vw solid #fff;
}
#page1_part2::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: -15%;
}
#page1_part2::after {
  content: "Scroll";
  position: absolute;
  font-size: 0.9vw;
  font-family: "Plain";
  font-weight: 600;
  left: -46%;
  bottom: -9%;
  color: #413e3e;
}
#page1_flag {
  position: fixed;
  width: 20vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 0;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.hero3_inner h2:nth-child(1):hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  border-bottom: 0.7vw solid transparent;
}
.hero3_inner h2:nth-child(3):hover {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  border-bottom: 0.7vw solid transparent;
}
/* ------------------------------------------------------------------------ */
#page2 {
  width: 100%;
  height: 100vh;
  padding-top: 17vh;
  position: relative;
}

#page2 .video_container {
  width: 72.5%;
  height: 70vh;
  position: absolute;
  right: 0;
  top: 15vh;

  background-size: cover;
  background-position: center;
  background-image: url("./assets/Showreel-2022-preview-1.jpg");
}
#page2 .video_container .video_cursor {
  width: 8vw;
  height: 8vw;
  background-color: #ffa63d;
  border-radius: 50%;
  position: absolute;
  right: 16%;
  top: -13%;
  z-index: 999;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#page2 .video_container .video_cursor #i1 {
  font-size: 2vw;
  opacity: 1;
}
#page2 .video_container .video_cursor #i2 {
  font-size: 2vw;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#page2 .video_container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  opacity: 0;
}
/* ---------------------------------- */
#page3 {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
  position: relative;
  padding: 7vh 4vw;
  margin-top: 10vw;
}
#page3 h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 23vw;
  font-weight: 500;
}
#page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: -12%;
  top: 15%;
}
#page3 .under_line {
  height: 1px;
  width: 74.5%;
  background-color: #fff;
  margin: 5vw 0;
  margin-left: 23vw;
}
/* ----------------------- */
#page3_part1 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page3_part1_inner1 {
  height: 100%;
  width: 23vw;
}
.page3_part1_inner1_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part1_inner1_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}
.page3_img_div img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page3_part1_inner1_bottom_text {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page3_part1_inner1_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
  width: 15vw;
}
.page3_part1_inner1_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}
.page3_part1_inner1_under_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-top: 2vw;
}
/* ----------------------- */
.page3_part1_inner2 {
  height: 100%;
  width: 35vw;
}
.page3_part1_inner2_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part1_inner2_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}
.page3_img_div img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page3_part1_inner2_bottom_text {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page3_part1_inner2_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
}
.page3_part1_inner2_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}
.page3_part2_under_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-top: 2vw;
}
/* ----------------------- */
.page3_part1_inner3 {
  min-height: 100vh;
  width: 30vw;
  position: relative;
}
.page3_part1_inner3_circle {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 68vh;
  margin-left: 9.91vw;
  padding: 7vw;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.page3_part1_inner3_circle img {
  rotate: 90deg;
  position: relative;
}
.page3_part1_inner3_circle_in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.page3_part1_inner3_circle_in p {
  width: 60%;
  font-size: 0.95vw;
  font-weight: 500;
  color: black;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 0;
}
.page3_part1_inner3_circle:hover .page3_part1_inner3_circle_in {
  scale: 1;
}
.page3_part1_inner3_circle:hover .page3_part1_inner3_circle_in p {
  scale: 1;
  opacity: 1;
}

/* ---------------------------- */
#page3_part2 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
}
/* ------ */
.page3_part2_inner1 {
  height: 100vh;
  width: 23vw;
  position: relative;
}
.page3_part2_inner1_circle {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: 2.9vw;
  padding: 7vw;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.page3_part2_inner1_circle img {
  rotate: 45deg;
  position: relative;
}
.page3_part2_inner1_circle_in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.page3_part2_inner1_circle_in p {
  width: 60%;
  font-size: 0.95vw;
  font-weight: 500;
  color: black;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 0;
}
.page3_part2_inner1_circle:hover .page3_part2_inner1_circle_in {
  scale: 1;
}
.page3_part2_inner1_circle:hover .page3_part2_inner1_circle_in p {
  scale: 1;
  opacity: 1;
}
/* --------------------------- */
.page3_part2_inner2 {
  min-height: 100vh;
  width: 35vw;
  margin-top: 5vw;
  position: relative;
}
.page3_part2_inner2_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
  position: relative;
}
.page3_part2_inner2_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}
.page3_img_div img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page3_part2_inner2_bottom_text {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page3_part2_inner2_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
}
.page3_part2_inner2_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}

/* --------------------------- */
.page3_part2_inner3 {
  min-height: 100vh;
  width: 30vw;
  margin-top: -2vh;
  position: relative;
}
.page3_part2_inner3_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part2_inner3_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: capitalize;
}
.page3_img_div img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
/* --------------------------- */
#page3_part3 {
  width: 100%;
  min-height: 100vh;
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page3_part3_inner1 {
  min-height: 100vh;
  width: 23vw;
  position: relative;
  margin-top: -20.33vh;
}
.page3_part3_inner1_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
  position: relative;
}
.page3_part3_inner1_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: capitalize;
}
.page3_part3_inner1_img img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page3_part3_inner1_bottom_text {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page3_part3_inner1_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
  width: 15vw;
}
.page3_part3_inner1_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}
.page3_part1_under_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-top: 2vw;
}

/* ------------------- */
.page3_part3_inner2 {
  /* background-color: blue; */
  min-height: 100vh;
  width: 35vw;
  position: relative;
}
.page3_part3_inner2_circle {
  height: 20vw;
  width: 20vw;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-top: 68vh;
  margin-left: 15vw;
  padding: 7vw;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.page3_part3_inner2_circle img {
  position: relative;
}
.page3_part3_inner2_circle_in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.page3_part3_inner2_circle_in p {
  width: 60%;
  font-size: 0.95vw;
  font-weight: 500;
  color: black;
  scale: 0;
  -webkit-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  transition: all ease 0.5s;
  -webkit-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 0;
}
.page3_part3_inner2_circle:hover .page3_part3_inner2_circle_in {
  scale: 1;
}
.page3_part3_inner2_circle:hover .page3_part3_inner2_circle_in p {
  scale: 1;
  opacity: 1;
}
/* -------------------- */
.page3_part3_inner3 {
  min-height: 100vh;
  width: 30vw;
  margin-top: 5vw;
  position: relative;
}
.page3_part3_inner3_text {
  height: 2.5vw;
  margin-bottom: 2.5vw;
  overflow: hidden;
}
.page3_part3_inner3_text h3 {
  height: 2.5vw;
  font-size: 2vw;
  text-transform: uppercase;
}
.page3_part3_inner3 img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.page3_part3_inner3_bottom_text {
  margin-top: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.page3_part3_inner3_bottom_text h4 {
  font-size: 0.9vw;
  font-weight: 300;
}
.page3_part3_inner3_bottom_text h5 {
  font-size: 0.9vw;
  font-weight: 500;
}
.page3_part3_under_line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin-top: 2vw;
}
/* ---------------------------- */

#page3_part4 {
  height: 70vh;
  width: 100%;
  /* background-color: red; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  margin-bottom: 15vw;
}
.page3_part4_inner1_circle {
  height: 20vw;
  width: 20vw;
  /* border: 2px solid #fff; */
  background-color: #ffa63d;
  position: relative;
  border-radius: 50%;
  margin-left: 8vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5vw;
}
/* --------------------------- */
#page4 {
  width: 100%;
  min-height: 100vh;
  background-color: #151515;
  position: relative;
  padding: 7vh 0;
}
#page4_content h1::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: 20%;
  top: 4%;
}
#page4_content {
  width: 72vw;
  margin-left: 28%;
}
#page4_content h1 {
  font-size: 7vw;
  text-transform: uppercase;
}
#page4_content .under_line_4_1 {
  height: 1px;
  width: 95%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4_content .under_line_4_2 {
  height: 1px;
  width: 95%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4_content .after_under_line {
  margin-top: -4vw;
  font-size: 0.8vw;
  font-weight: 500;
}
#page4_content > p {
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}
#page4_content #page4_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#page4_content #page4_flex img {
  width: 48%;
  -o-object-fit: cover;
  object-fit: cover;
}
#page4_content #page4_flex p {
  font-size: 0.84vw;
  width: 20%;
  margin-left: 2vw;
  font-weight: 300;
  line-height: 1.3vw;
}
#page4_blue_div {
  background-color: #3f7df4;
  width: 33vw;
  padding: 4vw 3vw;
  position: relative;
  margin-top: -37vh;
  margin-left: 24vw;
}
#page4_blue_div .blue_div_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5vw 0;
  border-bottom: 2px solid #ffffff94;
}
#page4_blue_div .blue_div_elem h4 {
  font-size: 1.4vw;
  font-weight: 500;
}
#page4_blue_div .blue_div_elem p {
  width: 40%;
  font-size: 0.7vw;
}
#page5 {
  width: 100%;
  min-height: 80vh;
  background-color: #151515;
  position: relative;
}
#page5 .elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -3vw;
}
#page5 .elem h1 {
  font-size: 7vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation-name: textScroll;
  animation-name: textScroll;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
#page5 .elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -3vw;
}
#page5 .elem2 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  -webkit-animation-name: textScroll;
  animation-name: textScroll;
  -webkit-transform: translateX(calc(-100% - 20px));
  -ms-transform: translateX(calc(-100% - 20px));
  transform: translateX(calc(-100% - 20px));
  -webkit-animation-duration: 14s;
  animation-duration: 14s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
#page5 .elem span {
  font-style: italic;
  font-family: "Silk Serif";
  color: transparent;
}
#page5 .elem2 span {
  font-style: italic;
  font-family: "Silk Serif";
  color: transparent;
}
@-webkit-keyframes textScroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}
@keyframes textScroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}
footer {
  width: 100%;
  height: 90vh;
  background-color: #151515;
  position: relative;
  padding-left: 30vw;
}
footer h1::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "Silk Serif";
  font-weight: 100;
  left: -0%;
  top: 12%;
}
#footer_hadline {
  position: relative;
  margin-left: -10vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 999;
  overflow: hidden;
}
#footer_hadline h2,
#footer_hadline h1 {
  font-size: 8vw;
  text-transform: uppercase;
  font-weight: 500;
  z-index: 999;
  margin-left: 9vw;
}
#footer_hadline h2 {
  position: absolute;
  font-family: "silk serif";
  top: -10%;
  opacity: 0;
}
#footer_hadline h1 span {
  font-family: "Plain";
}
#footer_hadline h2 span {
  font-family: "Silk Serif";
  opacity: 0;
}
#footer_hadline img {
  position: absolute;
  height: 5vw;
  width: 5vw;
  top: 25%;
  right: 10%;
}
footer .under_line {
  height: 2px;
  width: 95%;
  background-color: #fff;
  margin: 3.5vw 0;
}
.footer_last_under_line {
  height: 2px;
  width: 95%;
  background-color: #fff;
  margin-top: 5vw;
}
.footer_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 2.5vw;
  margin-bottom: 3vw;
}
.box {
  width: 27%;
}
.footer_div h6 {
  font-size: 0.9vw;
  margin-bottom: 1.5vw;
  font-weight: 300;
  text-transform: capitalize;
}
.footer_social {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.footer_div h5 {
  font-size: 1.6vw;
  margin: 0.2vh 0;
  font-weight: 300;
  line-height: 1.5vw;
  text-transform: capitalize;
}
.footer_div .box:nth-last-child(1) h5 {
  border-bottom: 0.11vw solid #fff;
}
footer > h5 {
  margin-top: 3vw;
  margin-bottom: 3vw;
  font-weight: 500;
  font-size: 1vw;
}
._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}

/* ------------------------------ */

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  /* ------- */
  #loder {
    padding-top: 80vw;
    z-index: 999999999999999;
  }
  #loder .line {
    overflow: hidden;
  }
  #loder .line h1 {
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 8vw;
  }
  #loder .line #line_part_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #loder .line #line_part_1 h2 {
    font-size: 5vw;
  }
  .line_part_1_inner1 h2:nth-child(1) {
    width: 7vw;
    margin-left: 0vw;
  }
  .line_part_1_inner1 h2:nth-child(2) {
    margin-left: 1.5vw;
  }
  #loder .line_part_1_inner2 {
    margin-left: 0vw;
  }
  #loder #line-3 {
    height: 7vw;
  }
  #loder #line-3 h3 {
    font-size: 7.5vw;
  }
  #loder #line-4 {
    margin-top: 15vw;
    margin-left: 0vw;
    font-weight: 400;
  }
  /* ---- */
  #cursor {
    position: absolute;
    z-index: 999;
  }
  main {
    position: relative;
    background-color: #151515;
    overflow: hidden;
  }
  #page1 {
    width: 100%;
    height: 49vh;
    background-color: #151515;
    padding: 2.5vw 3.99vw;
    position: relative;
  }
  #page1 nav {
    position: relative;
    padding: 0.8vw;
    margin-top: 2.2vw;
  }
  .nav_part1 {
    width: 100%;
    padding-top: 0.4vw;
  }
  .nav_part1 .item2 img {
    width: 14.5vw;
  }
  .nav_part1 .item3 {
    display: none !important;
  }
  .nav_part2 ul {
    display: none !important;
  }
  .nav_part2 ul li {
    list-style: none;
  }
  /* ------- */

  #page1_part2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 20vh;
    position: absolute;
    left: 5vw;
    bottom: 18%;
  }
  #page1_part2 .hero {
    position: relative;
    overflow-y: hidden;
  }
  #page1_part2 .hero h1 {
    font-size: 9.7vw;
    font-weight: 500;
    line-height: 9.5vw;
    letter-spacing: -0.6vw;
  }
  #page1_part2 #hero4 h1 {
    line-height: 8.5vw;
  }
  #page1_part2 .hero3_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .hero3_inner h2,
  .hero3_inner h3 {
    font-size: 9.7vw;
    font-weight: 500;
    line-height: 9.5vw;
    letter-spacing: -0.6vw;
  }
  .hero3_inner h2:nth-last-child(1) {
    margin-left: 1vw;
  }
  .hero3_inner h3 {
    margin-left: -0.9vw;
  }
  .hero3_inner h2 {
    border-bottom: 0.8vw solid #fff;
  }
  #page1_part2::before {
    font-size: 4.5vw;
    font-weight: 500;
    left: 0%;
    top: -20%;
  }
  #page1_part2::after {
    font-size: 2vw;
    font-weight: 600;
    left: 0%;
    bottom: -5vw;
    color: #413e3e;
  }
  #page1_flag {
    width: 25vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  /* ----- */
  #page2 {
    width: 100%;
    height: 50vh;
    padding-top: 0vw;
    position: relative;
  }
  #page2 .video_container {
    width: 100%;
    height: 88vw;
    left: 50%;
    top: 39.7%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #page2 .video_container .video_cursor {
    width: 25vw;
    height: 25vw;
    background-color: #ffa63d;
    border-radius: 50%;
    position: absolute;
    right: 38%;
    top: -13%;
    z-index: 999;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  #page2 .video_container .video_cursor #i1 {
    font-size: 5vw;
  }
  #page2 .video_container .video_cursor #i2 {
    font-size: 5vw;
  }
  /* -------- */
  #page3 {
    padding: 7vh 5vw;
  }
  #page3 h1 {
    font-size: 9vw;
    margin-left: 0vw;
    padding-bottom: 3vw;
  }
  #page3 h1::before {
    font-size: 5vw;
    font-weight: 400;
    left: 0%;
    top: -10vw;
  }
  #page3 .under_line {
    width: 100%;
    margin-left: 0vw;
    margin-bottom: 15vw;
  }
  /* ------ */
  #page3_part1 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .page3_part1_inner1 {
    height: 100%;
    width: 100%;
  }
  .page3_part1_inner1_text {
    height: 5.5vw;
    margin-bottom: 8vw;
  }
  .page3_part1_inner1_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 5vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  .page3_part1_inner1_bottom_text {
    margin-top: 5.5vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part1_inner1_bottom_text h4 {
    font-size: 3.5vw;
    font-weight: 300;
    width: 30vw;
  }
  .page3_part1_inner1_bottom_text h5 {
    font-size: 3vw;
    margin-top: -8vw;
  }
  .page3_part1_inner1_under_line {
    margin: 7vw 0;
  }
  /* ------- */
  .page3_part1_inner2 {
    width: 100%;
  }
  .page3_part1_inner2_text {
    height: 5.5vw;
    margin-bottom: 8vw;
  }
  .page3_part1_inner2_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 5vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  .page3_part1_inner2_bottom_text {
    margin-top: 5.5vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part1_inner2_bottom_text h4 {
    font-size: 3.5vw;
    width: 30vw;
  }
  .page3_part1_inner2_bottom_text h5 {
    font-size: 3vw;
    margin-top: -8vw;
  }
  .page3_part2_under_line {
    margin: 7vw 0;
  }
  /* -------- */
  .page3_part1_inner3 {
    display: none;
  }
  /* ------- */
  #page3_part2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  /* ------ */
  .page3_part2_inner1 {
    display: none !important;
  }
  /* --------------------------- */
  .page3_part2_inner2 {
    min-height: 50vh;
    width: 100%;
  }
  .page3_part2_inner2_text {
    height: 5.5vw;
    margin-bottom: 8vw;
  }
  .page3_part2_inner2_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 5vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  .page3_part2_inner2_bottom_text {
    margin-top: 5.5vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part2_inner2_bottom_text h4 {
    font-size: 3.5vw;
    width: 30vw;
  }
  .page3_part2_inner2_bottom_text h5 {
    font-size: 3vw;
    margin-top: -8vw;
  }

  /* --------------------------- */
  .page3_part2_inner3 {
    min-height: 50vh;
    width: 100%;
    margin-top: 0vh;
  }
  .page3_part2_inner3_text {
    height: 5.5vw;
    margin-bottom: 8vw;
  }
  .page3_part2_inner3_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 5vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  /* --------------------------- */
  #page3_part3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .page3_part3_inner1 {
    min-height: 50vh;
    width: 100%;
    margin-top: 0vh;
  }
  .page3_part3_inner1_text {
    height: 5.5vw;
    margin-bottom: 8vw;
  }
  .page3_part3_inner1_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 5vw;
    font-weight: 400;
  }
  .page3_part3_inner1_img img {
    width: 100%;
  }
  .page3_part3_inner1_bottom_text {
    margin-top: 5.5vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part3_inner1_bottom_text h4 {
    font-size: 3.5vw;
    width: 30vw;
  }
  .page3_part3_inner1_bottom_text h5 {
    font-size: 3vw;
    margin-top: -8vw;
  }
  .page3_part1_under_line {
    margin: 7vw;
  }

  /* ------------------- */
  .page3_part3_inner2 {
    display: none !important;
  }
  /* ---- */
  .page3_part3_inner3 {
    min-height: 50vh;
    width: 100%;
  }
  .page3_part3_inner3_text {
    height: 5.5vw;
    margin-bottom: 5vw;
  }
  .page3_part3_inner3_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 5vw;
    font-weight: 400;
  }
  .page3_part3_inner3 img {
    width: 100%;
  }
  .page3_part3_inner3_bottom_text {
    margin-top: 5.5vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part3_inner3_bottom_text h4 {
    font-size: 3.5vw;
    width: 30vw;
  }
  .page3_part3_inner3_bottom_text h5 {
    font-size: 3vw;
    margin-top: -8vw;
  }
  .page3_part3_under_line {
    margin-top: 7vw;
  }
  /* ---------------------------- */
  #page3_part4 {
    height: 31vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0vw;
  }
  .page3_part4_inner1_circle {
    height: 38vw;
    width: 38vw;
    margin-left: 0vw;
    padding: 2vw;
  }
  /* ------- */
  #page4 {
    min-height: 100vh;
    padding: 0vh 4vw;
    margin-top: 5vw;
  }
  #page4_content h1::before {
    font-size: 4.7vw;
    font-weight: 500;
    left: 5%;
    top: -2%;
  }
  #page4_content {
    width: 100%;
    margin-left: 0%;
  }
  #page4_content h1 {
    font-size: 10vw;
    font-weight: 400;
    letter-spacing: -0.4vw;
  }
  #page4_content .under_line_4_1 {
    width: 100%;
  }
  #page4_content .under_line_4_2 {
    width: 100%;
    margin-top: 20vw;
  }
  #page4_content .after_under_line {
    margin-top: 0vw;
    font-size: 3.5vw;
  }
  #under_line_4 {
    padding: 7vw 0px;
    margin-top: 50vw;
  }
  #page4_content > p {
    font-size: 5.5vw;
    width: 95%;
    margin-bottom: 8vw;
    line-height: 6vw;
    margin-top: 15vw;
  }
  #page4_content #page4_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  #page4_content #page4_flex img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 10vw;
  }
  #page4_content #page4_flex p {
    font-size: 3.8vw;
    width: 80%;
    margin-left: 0vw;
    font-weight: 300;
    line-height: 5vw;
  }
  #page4_blue_div {
    width: 100%;
    margin-top: 0vh;
    margin-left: 0vw;
  }
  #page4_blue_div .blue_div_elem {
    padding: 7vw 0;
  }
  #page4_blue_div .blue_div_elem h4 {
    font-size: 3.6vw;
  }
  #page4_blue_div .blue_div_elem p {
    width: 55%;
    font-size: 3.5vw;
  }
  #page4_blue_div #blue_div_elem5 {
    border-bottom: none;
    padding: 0vw 0;
  }
  /* ------ */
  #page5 {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 5vw 0;
  }
  #page5 .elem {
    margin-bottom: -5vw;
  }
  #page5 .elem h1 {
    font-size: 10vw;
  }
  #page5 .elem2 {
    margin-bottom: -5vw;
  }
  #page5 .elem2 h1 {
    font-size: 10vw;
  }
  /* ---- */
  footer {
    padding-left: 4vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer h1::before {
    font-size: 5vw;
    font-family: "Silk Serif";
    font-weight: 500;
    left: 10%;
    top: 60%;
  }
  #footer_hadline {
    margin-left: -10vw;
  }
  #footer_hadline h2,
  #footer_hadline h1 {
    font-size: 10vw;
    margin-top: 40vw;
  }
  #footer_hadline h2 {
    top: -10%;
    opacity: 0;
  }
  #footer_hadline img {
    position: absolute;
    height: 8vw;
    width: 8vw;
    top: 80%;
    right: 19%;
  }
  footer .under_line {
    height: 1px;
    background-color: #fff;
    margin: 3.5vw 0;
  }
  .footer_last_under_line {
    height: 1px;
    background-color: #fff;
    margin-top: 5vw;
  }
  .footer_div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .box {
    width: 70%;
  }
  .footer_div h6 {
    font-size: 4vw;
    margin-bottom: 5vw;
    margin-top: 5vw;
    font-weight: 400;
  }
  .footer_social {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
  }
  .footer_div h5 {
    font-size: 6vw;
    font-weight: 200;
    line-height: 6vw;
  }
  .footer_div .box:nth-last-child(1) h5 {
    margin-bottom: 10vw;
  }
  footer > h5 {
    margin-top: 8vw;
    margin-bottom: 8vw;
    font-size: 4vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }
  /* ------- */
  #loder {
    padding-top: 30vw;
    z-index: 999999999;
  }
  #loder .line {
    overflow: hidden;
  }
  #loder .line h1 {
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 8vw;
  }
  #loder .line #line_part_1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  #loder .line #line_part_1 h2 {
    font-size: 4vw;
  }
  .line_part_1_inner1 h2:nth-child(1) {
    width: 7vw;
    margin-left: 0vw;
  }
  .line_part_1_inner1 h2:nth-child(2) {
    margin-left: 1.5vw;
  }
  #loder .line_part_1_inner2 {
    margin-left: 1vw;
  }
  #loder #line-3 {
    height: 7vw;
  }
  #loder #line-3 h3 {
    font-size: 7.5vw;
  }
  #loder #line-4 {
    margin-top: 13vw;
    margin-left: 20vw;
    font-weight: 400;
  }
  /* ---- */
  #cursor {
    position: absolute;
    z-index: 999;
  }
  main {
    position: relative;
    background-color: #151515;
    overflow: hidden;
  }
  /* --- */
  #page1 {
    width: 100%;
    height: 95vh;
    background-color: #151515;
    padding: 0.1vw 2vw;
    position: relative;
  }
  #page1 nav {
    position: relative;
    padding: 0.8vw;
    margin-top: 2.2vw;
  }
  .nav_part1 {
    padding-top: 0vw;
    gap: 10vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .nav_part1 .item2 img {
    width: 9vw;
    margin-left: 10vw;
  }
  .nav_part1 .item3 p {
    font-size: 2vw;
    line-height: 1.9vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .nav_part2 ul {
    gap: 4vw;
  }
  .nav_part2 ul li {
    font-size: 2.2vw;
  }
  /* ------- */

  #page1_part2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 35vh;
    position: absolute;
    left: 27vw;
    bottom: 25%;
  }
  #page1_part2 .hero {
    position: relative;
    overflow-y: hidden;
  }
  #page1_part2 .hero h1 {
    font-size: 9.7vw;
    font-weight: 500;
    line-height: 8vw;
    letter-spacing: -0.6vw;
  }
  #page1_part2 #hero4 h1 {
    line-height: 8.5vw;
  }
  #page1_part2 .hero3_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .hero3_inner h2,
  .hero3_inner h3 {
    font-size: 9.7vw;
    font-weight: 500;
    line-height: 9.5vw;
    letter-spacing: -0.6vw;
  }
  .hero3_inner h2:nth-last-child(1) {
    margin-left: 1vw;
  }
  .hero3_inner h3 {
    margin-left: -0.9vw;
  }
  .hero3_inner h2 {
    border-bottom: 0.8vw solid #fff;
  }
  #page1_part2::before {
    font-size: 4.5vw;
    font-weight: 500;
    top: -2%;
  }
  #page1_part2::after {
    font-size: 2vw;
    display: none !important;
  }
  #page1_flag {
    width: 25vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  /* ----- */
  #page2 {
    width: 100%;
    height: 50vh;
  }
  #page2 .video_container {
    width: 70%;
    height: 30vh;
    left: 65%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  #page2 .video_container .video_cursor {
    width: 15vw;
    height: 15vw;
    right: 20%;
    top: -25%;
  }
  #page2 .video_container .video_cursor #i1 {
    font-size: 5vw;
  }
  #page2 .video_container .video_cursor #i2 {
    font-size: 5vw;
  }
  /* -------- */
  #page3 {
    padding: 7vh 3vw;
    margin-top: 5vw;
  }
  #page3 h1 {
    font-size: 8vw;
    margin-left: 20vw;
    padding-bottom: 0vw;
  }
  #page3 h1::before {
    font-size: 4vw;
    font-weight: 400;
    left: -15%;
    top: 1vw;
  }
  #page3 .under_line {
    width: 80%;
    margin-left: 20vw;
    margin-bottom: 15vw;
  }
  /* ------ */
  #page3_part1 {
    width: 100%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 3vw;
  }
  .page3_part1_inner1 {
    height: 100%;
    width: 100%;
  }
  .page3_part1_inner1_text {
    height: 3vw;
    margin-bottom: 3vw;
  }
  .page3_part1_inner1_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 3vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  .page3_part1_inner1_bottom_text {
    margin-top: 3vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part1_inner1_bottom_text h4 {
    font-size: 2vw;
    font-weight: 300;
    width: 20vw;
  }
  .page3_part1_inner1_bottom_text h5 {
    font-size: 2vw;
    margin-top: -2vw;
  }
  .page3_part1_inner1_under_line {
    margin: 3vw 0;
  }
  /* ------- */
  .page3_part1_inner2 {
    width: 100%;
  }
  .page3_part1_inner2_text {
    height: 3vw;
    margin-bottom: 3vw;
  }
  .page3_part1_inner2_text h3 {
    height: 3;
    font-size: 3vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  .page3_part1_inner2_bottom_text {
    margin-top: 3vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part1_inner2_bottom_text h4 {
    font-size: 2vw;
    width: 20vw;
  }
  .page3_part1_inner2_bottom_text h5 {
    font-size: 2vw;
    margin-top: -2vw;
  }
  .page3_part2_under_line {
    margin: 3vw 0;
  }
  /* -------- */
  .page3_part1_inner3 {
    display: none;
  }
  /* ------- */
  #page3_part2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 3vw;
    min-height: 70vh;
  }
  /* ------ */
  .page3_part2_inner1 {
    display: none !important;
  }
  /* --------------------------- */
  .page3_part2_inner2 {
    min-height: 70vh;
    width: 100%;
  }
  .page3_part2_inner2_text {
    height: 3vw;
    margin-bottom: 3vw;
  }
  .page3_part2_inner2_text h3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 3vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  .page3_part2_inner2_bottom_text {
    margin-top: 3vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part2_inner2_bottom_text h4 {
    font-size: 2vw;
    width: 20vw;
  }
  .page3_part2_inner2_bottom_text h5 {
    font-size: 2vw;
    margin-top: -2vw;
  }

  /* --------------------------- */
  .page3_part2_inner3 {
    min-height: 70vh;
    width: 100%;
    margin-top: 4.5vh;
  }
  .page3_part2_inner3_text {
    height: 3vw;
    margin-bottom: 3vw;
  }
  .page3_part2_inner3_text h3 {
    height: 3;
    font-size: 3vw;
    font-weight: 400;
  }
  .page3_img_div img {
    width: 100%;
  }
  /* --------------------------- */
  #page3_part3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    min-height: 70vh;
    gap: 3vw;
  }
  .page3_part3_inner1 {
    min-height: 70vh;
    width: 100%;
    margin-top: 0vh;
  }
  .page3_part3_inner1_text {
    height: 3vw;
    margin-bottom: 3vw;
  }
  .page3_part3_inner1_text h3 {
    height: 3;
    font-size: 3vw;
    font-weight: 400;
  }
  .page3_part3_inner1_img img {
    width: 100%;
  }
  .page3_part3_inner1_bottom_text {
    margin-top: 2vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part3_inner1_bottom_text h4 {
    font-size: 2vw;
    width: 20vw;
  }
  .page3_part3_inner1_bottom_text h5 {
    font-size: 2vw;
    margin-top: -2vw;
  }
  .page3_part1_under_line {
    margin: 3vw;
  }

  /* ------------------- */
  .page3_part3_inner2 {
    display: none !important;
  }
  /* ---- */
  .page3_part3_inner3 {
    min-height: 70vh;
    width: 100%;
    margin-top: 0;
  }
  .page3_part3_inner3_text {
    height: 3vw;
    margin-bottom: 3vw;
  }
  .page3_part3_inner3_text h3 {
    height: 3;
    font-size: 3vw;
    font-weight: 400;
  }
  .page3_part3_inner3 img {
    width: 100%;
  }
  .page3_part3_inner3_bottom_text {
    margin-top: 2vw;
    -webkit-box-align: top;
    -ms-flex-align: top;
    align-items: top;
  }
  .page3_part3_inner3_bottom_text h4 {
    font-size: 2vw;
    width: 20vw;
  }
  .page3_part3_inner3_bottom_text h5 {
    font-size: 2vw;
    margin-top: -2vw;
  }
  .page3_part3_under_line {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
  /* ---------------------------- */
  #page3_part4 {
    height: 40vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0vw;
  }
  .page3_part4_inner1_circle {
    height: 27vw;
    width: 27vw;
    margin-left: 0vw;
    padding: 2vw;
  }
  /* ------- */
  #page4 {
    min-height: 100vh;
    padding: 0vh 4vw;
    margin-top: 5vw;
  }
  #page4_content h1::before {
    font-size: 4vw;
    font-weight: 500;
    left: 17vw;
    top: 0%;
  }
  #page4_content {
    width: 100%;
    margin-left: 25%;
  }
  #page4_content h1 {
    font-size: 8vw;
    font-weight: 400;
    letter-spacing: -0.4vw;
    margin-left: 0vw;
  }
  #page4_content .under_line_4_1 {
    width: 75%;
    margin-left: 0vw;
    margin-top: 3vw;
  }
  #page4_content .under_line_4_2 {
    width: 75%;
    margin-top: 25vw;
  }

  #page4_content .after_under_line {
    margin-top: -2vw;
    font-size: 2vw;
  }
  #under_line_4 {
    padding: 7vw 0px;
    margin-top: 50vw;
  }
  #page4_content > p {
    font-size: 3.4vw;
    width: 70%;
    margin-bottom: 4vw;
    line-height: 4vw;
    margin-top: 5vw;
  }
  #page4_content #page4_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: flex;
    flex-direction: flex;
  }
  #page4_content #page4_flex img {
    width: 37%;
    -o-object-fit: cover;
    object-fit: cover;
    margin-top: 0vw;
  }
  #page4_content #page4_flex p {
    font-size: 2vw;
    width: 35%;
    margin-left: 3.5vw;
    font-weight: 300;
    line-height: 2.7vw;
  }
  #page4_blue_div {
    width: 70%;
    margin-top: -9vh;
    margin-left: 6vw;
    padding-top: 1vw;
    padding-bottom: 6vw;
  }
  #page4_blue_div .blue_div_elem {
    padding: 3vw 0;
  }
  #page4_blue_div .blue_div_elem h4 {
    font-size: 2.5vw;
  }
  #page4_blue_div .blue_div_elem p {
    width: 55%;
    font-size: 2vw;
  }
  #page4_blue_div #blue_div_elem5 {
    border-bottom: none;
    padding: 0vw 0;
  }
  /* ------ */
  #page5 {
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding: 0vw 0;
    padding-bottom: 5vw;
  }
  #page5 .elem {
    margin-bottom: -5vw;
  }
  #page5 .elem h1 {
    font-size: 9vw;
  }
  #page5 .elem2 {
    margin-bottom: -5vw;
  }
  #page5 .elem2 h1 {
    font-size: 10vw;
  }
  /* ---- */
  footer {
    padding-left: 20vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  footer h1::before {
    font-size: 4vw;
    font-family: "Silk Serif";
    font-weight: 500;
    left: 0%;
    top: 85%;
  }
  #footer_hadline {
    margin-left: -5vw;
    width: 100%;
  }
  #footer_hadline h2,
  #footer_hadline h1 {
    font-size: 8vw;
    margin-top: 50vw;
    margin-left: 10vw;
  }
  #footer_hadline h2 {
    top: -10%;
    opacity: 0;
  }
  #footer_hadline img {
    position: absolute;
    height: 6.5vw;
    width: 6.5vw;
    top: 87%;
    right: 13%;
  }
  footer .under_line {
    height: 1px;
    background-color: #ffffff;
    margin: 3.5vw 0;
    width: 90%;
    margin-left: 5vw;
  }
  .footer_last_under_line {
    height: 1px;
    background-color: #fff;
    margin-top: 5vw;
    margin-left: 5vw;
    width: 90%;
  }
  .footer_div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 4vw;
    margin-left: 5vw;
  }
  .box {
    width: 50%;
  }
  .footer_div h6 {
    font-size: 2.5vw;
    margin-bottom: 3vw;
    margin-top: 0vw;
    font-weight: 400;
  }
  .footer_social {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
  }
  .footer_div h5 {
    font-size: 3vw;
    font-weight: 500;
    line-height: 2.5vw;
  }
  .footer_div .box:nth-last-child(1) h5 {
    margin-bottom: 40vw;
  }
  footer > h5 {
    margin-top: 3vw;
    margin-bottom: 5vw;
    font-size: 2vw;
    margin-left: 5vw;
  }
}
